*/ {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos
{
    color: white;
    background: #de003e;
    cursor: text;
}

.container {
    width: 750px;
    margin: 0 auto;
}

#top ul{
    margin-top: 30px;
    background-color: #b10333;
    float: left;
}

#top ul li{
    float: left;
}

#top ul a {
    display: block;
    padding: 0.8em 1.5em ;
    font-size: 0.9em;
    color: white;
    text-decoration: none;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#top ul .primeiro a{
    background: none;
}

#top ul a:hover {
    color: #69001d;
}



.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png);
}

/* layout de três colunas*/

#conteudo{
    background: #f5f5f5;
    margin-top: 150px;
}

#Primário {
    width: 270px;
    margin: 0 0 20px 190px;
    float: left;
}

#lateral {
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
}

#duas-colunas #Primário {
    width: 555px;
}

#uma-coluna #Primário {
    width: 750px;
    margin: 0 0 20px 0;
}
 

#Secundário {
    width: 270px;
	float: left;
	margin: 0 0 20px 15px;
}

/* imagenssssss */

img.imagem-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}

/* cabeçalho*/

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: white;
}

.entrevista h3 {
    background: #b10333;
    color: black;
}


/* Lateral */

#Lateral {
    width: 180px;
    margin: 0 0 20px -750px;
    float: left
}

#Lateral ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    border-bottom: 1px solid #f3f3f3;
    line-height: 30px;
    padding: 3px;
    font-size: 0.9em;
} 

#Lateral ul li a:hover {
    color: #a1a1a1;
    padding-left: 20px;
    background: url(../imagens/marcador.png) no-repeat left;
}
/* caixa */

.caixa {
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px;
}

h2 {
    font-size: 1.1em;
    background: #294c71;
    color: white;
    padding: 5px;
}

.conteudo-caixa {
    background: white;
    padding: 5px;
    margin-top: 5px;
}

.conteudo-caixa a{
    color: #b10333;
}

/* formulário */

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit {
    width: 80px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;

}
/* rodape */

#container-rodape {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: white;
}

/* Lista noticia */

#lista-noticia li {
    padding: 2px;
    border-bottom: 1px solid gray;
    height: 90px;
    
}

#lista-noticia li a img{
    float: left;
    margin: 5px;
}

#lista-noticia li a {
    text-decoration: none;
}

#lista-noticia li a h3 {
    font-size: 0.7em;
    color: blue;
    background: none;
}

#lista-noticia li a p {
    font-size: 0.7em;
    color: black;

}

#lista-noticia li:hover {
    background: #eee;
    cursor: pointer;
}